USE [master]
GO
/****** Object:  Database [Order]    Script Date: 2017/6/12 上午 11:37:26 ******/
CREATE DATABASE [Order]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Order', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER2014\MSSQL\DATA\Order.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Order_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLSERVER2014\MSSQL\DATA\Order_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Order].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Order]
GO
/****** Object:  User [TestUser]    Script Date: 2017/6/12 上午 11:37:26 ******/
/****** Object:  Table [dbo].[OrderInfo]    Script Date: 2017/6/12 上午 11:37:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderInfo](
	[ID] [int] NOT NULL,
	[Cost] [int] NOT NULL,
	[Revenue] [int] NOT NULL,
	[SellPrice] [int] NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
